@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .isloading {
    @apply animate-skeleton bg-skeleton-gradient bg-400;
  }

  .container {
    @apply mx-auto max-w-5xl;
  }
}

.golden-bg {
  background: linear-gradient(90deg, #aa9055, #d7bf76, #9a8550, #e1c87e);
}

.bg-clip {
  background: linear-gradient(90deg, #aa9055, #d7bf76, #9a8550, #e1c87e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}